<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    
    package="com.gyansaarthi.fastbook">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/fastbook_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fastbook_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LibraryActivity"></activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Home.HomeActivity" />
        <activity android:name=".BookDescriptionActivity" />
        <activity android:name=".ChunkActivity" />
        <activity android:name=".Profile.ProfileHomeActivity" />
        <activity android:name=".Profile.AccountSettingActivity"/>
    </application>

</manifest>